@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
}

.blurry {
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.13);
}

.box-shad {
	box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
}

@media screen and (max-width: 767px) {
	.img {
		position: absolute;
		right: 10px;
		top: -15px;
		width: 150px;
		height: 150px;
		border-width: 2px;
	}
}
